@model IEnumerable<PriceIt.Data.Models.UserList>
@{
    ViewData["Title"] = "Lists Page";
}

<h3>Lists Page</h3>

<div>
    <div>
        <div>Add a new List!</div>

        <div>
            <form action="/UserList/Add" method="post">
                <input type="text" placeholder="list name" name="listname" value="" />
                <button type="submit">add a list</button>
            </form>
        </div>
    </div>
</div>

@if (Model != null)
{
    @foreach (var userList in Model)
    {
        await Html.RenderPartialAsync("UserList/_UserListPartial", userList);
    }
}
else
{
    <p>No lists found, Create some!</p>
}