@using PriceIt.Data.Models
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .form-inline .nav-link {
        border-radius: 7px;
        z-index: 100;
    }

    .form-inline button {
        border-radius: 0 70px 70px 0;
        padding: 11px;
        margin-left: -7px;
        z-index: 99;
    }

    .navbar-nav:nth-child(1),  {
        margin-top: 30px !important;
        color: white;
    }
    .navbar-nav:nth-child(2){
        margin-top: 20px !important;
        color: white;
        position:absolute;
    }

    .navbar-nav:nth-child(1) {
        position: absolute;
        right: 110px;
        margin-bottom: 15px;
    }

    .navbar-nav:nth-child(3), .navbar-nav:nth-child(4), .navbar-nav:nth-child(5) {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .navbar {
        background-color: transparent !important;
        z-index: 10;
    }

    .nav-link {
        padding-top: 10px;
    }

    .navbar-nav .nav-item .nav-link {
        color: white !important;
        font-size: 20px;
        align-self: center;
    }
</style>
<div class="text-center">

    <div id="Web_1920__1">
        <img id="alvaro-reyes-MEldcHumbu8-unspl" src="/Pic/alvaro-reyes-MEldcHumbu8-unspl.png" srcset="/Pic/alvaro-reyes-MEldcHumbu8-unspl.png 1x, alvaro-reyes-MEldcHumbu8-unspl@2x.png 2x">

        <img id="chuttersnap-iFPBRwZ4I-M-unspla" src="/Pic/chuttersnap-iFPBRwZ4I-M-unspla.png" srcset="/Pic/chuttersnap-iFPBRwZ4I-M-unspla.png 1x, chuttersnap-iFPBRwZ4I-M-unspla@2x.png 2x">

        <svg class="Rectangle_14">
            <rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="1923" height="1080">
            </rect>
        </svg>
        <svg class="Path_1" viewBox="0 0 1920 1080">
            <path id="Path_1" d="M 0 0 L 1920 0 L 1920 1080 L 0 1080 L 0 0 Z">
            </path>
        </svg>
        <a href="/Home/Search">
            <svg class="Rectangle_13">
                <rect id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="381" height="88">
                </rect>
            </svg>
            <div id="Get_Started_">
                <span>Get Started </span>
            </div>
        </a>

        <div id="PriceIT">
            <span>PriceIT</span>
        </div>
        <div id="Lorem_ipsum_dolor_sit_">
            <span> </span>
        </div>
        <div id="Group_1">
            <a href="#top">
                <svg class="Line_2" viewBox="0 0 53 35.691">
                    <path id="Line_2" d="M 0 35.6912841796875 L 53 0">
                    </path>
                </svg>
                <svg class="Line_3" viewBox="0 0 53 35.691">
                    <path id="Line_3" d="M 0 0 L 53 35.6912841796875">
                    </path>
                </svg>
            </a>
        </div>
        <div id="Group_2">
            <svg class="Ellipse_1">
                <ellipse id="Ellipse_1" rx="43.5" ry="43.5" cx="43.5" cy="43.5">
                </ellipse>
            </svg>
            <div id="P_IT">
                <span>P<br />IT</span>
            </div>
            <svg class="Line_1" viewBox="0 0 49 2">
                <path id="Line_1" d="M 0 0 L 49 0">
                </path>
            </svg>
            <svg class="Ellipse_3">
                <ellipse id="Ellipse_3" rx="43.5" ry="43.5" cx="43.5" cy="43.5">
                </ellipse>
            </svg>
        </div>




        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>



        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="UserList" asp-action="Index">MyList</a></li>
                <li><a asp-controller="Home" asp-action="Search">Search</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
        </div>






        <div id="Top_Deals_">
            <span>Top Deals </span>
        </div>
        <img id="backpack-studio-d6gyCYQU1vc-un" src="/Pic/backpack-studio-d6gyCYQU1vc-un.png" srcset="/Pic/backpack-studio-d6gyCYQU1vc-un.png 1x, backpack-studio-d6gyCYQU1vc-un@2x.png 2x">

        <img id="vasanth-7l-LoZIyjlw-unsplash" src="/Pic/vasanth-7l-LoZIyjlw-unsplash.png" srcset="/Pic/vasanth-7l-LoZIyjlw-unsplash.png 1x, vasanth-7l-LoZIyjlw-unsplash@2x.png 2x">

        <img id="roman-spiridonov-FemeYrbdMWE-u" src="/Pic/roman-spiridonov-FemeYrbdMWE-u.png" srcset="/Pic/roman-spiridonov-FemeYrbdMWE-u.png 1x, roman-spiridonov-FemeYrbdMWE-u@2x.png 2x">

        <img id="yu-hai-ykI7BeSWgMo-unsplash" src="/Pic/yu-hai-ykI7BeSWgMo-unsplash.png" srcset="/Pic/yu-hai-ykI7BeSWgMo-unsplash.png 1x, yu-hai-ykI7BeSWgMo-unsplash@2x.png 2x">

        <svg class="Rectangle_18">
            <rect id="Rectangle_18" rx="38" ry="38" x="0" y="0" width="303" height="81">
            </rect>
        </svg>
        <svg class="Rectangle_19">
            <rect id="Rectangle_19" rx="38" ry="38" x="0" y="0" width="303" height="81">
            </rect>
        </svg>
        <svg class="Rectangle_20">
            <rect id="Rectangle_20" rx="38" ry="38" x="0" y="0" width="303" height="81">
            </rect>
        </svg>
        <svg class="Rectangle_21">
            <rect id="Rectangle_21" rx="38" ry="38" x="0" y="0" width="303" height="81">
            </rect>
        </svg>
        <div id="Check_Price">
            <span>Check Price</span>
        </div>
        <div id="Check_Price_bj">
            <span>Check Price</span>
        </div>
        <div id="Check_Price_bk">
            <span>Check Price</span>
        </div>
        <div id="Check_Price_bl">
            <span>Check Price</span>
        </div>
        <div id="See_more">
            <span>See more...</span>
        </div>

    </div>
</div>
    @{
        if (ViewData["test"] is List<Product> products)
        {
            <div>
                @foreach (var product in products)
                {
                    await Html.RenderPartialAsync("UserList/_ProductPreviewPartial", product);
                }
            </div>
        }
    }
</div>
<a id="top"></a>
